// const submitBtn = inputs[6]

// submitBtn.addEventListener("click", () => {
//     event.preventDefault();
//     const weight = inputs[4].value
//     const height = inputs[5].value
//     const resultArea = document.querySelector(".result")
//     console.log(resultArea)
//     const imc = weight / (height * height)

//     if (weight == 0 && height == 0) {
//         resultArea.innerHTML = "⚠️ <Strong>Verifique os dados e tente novamente!</strong>"
//     }

//     if (imc < 17) {
//         resultArea.innerHTML = `Seu IMC é: <strong>${imc.toFixed(1)}</strong> Você está muito abaixo do peso`
//     } else {
//         if (imc >= 17 && imc <= 18.5) {
//             resultArea.innerHTML = `Seu IMC é: <strong>${imc.toFixed(1)}</strong> Você está abaixo do peso`
//         } else {
//             if (imc >= 18.5 && imc <= 25) {
//                 resultArea.innerHTML = `Seu IMC é: <strong>${imc.toFixed(1)}</strong> Você está no peso ideal`
//             } else {
//                 if (imc >= 25 && imc <= 30) {
//                     resultArea.innerHTML = `Seu IMC é: <strong>${imc.toFixed(1)}</strong> Você está em sobrepeso`
//                 } else {
//                     if (imc >= 30 && imc <= 35) {
//                         resultArea.innerHTML = `Seu IMC é: <strong>${imc.toFixed(1)}</strong> Você está em obesidade`
//                     } else {
//                         if (imc >= 35 && imc <= 40) {
//                             resultArea.innerHTML = `Seu IMC é: <strong>${imc.toFixed(1)}</strong> Você está em obesidade severa`
//                         } else {
//                             if (imc > 40) {
//                                 resultArea.innerHTML = `Seu IMC é: <strong>${imc.toFixed(1)}</strong> Você em obesidade mórbida`
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// })