body {
    background: rgb(7, 94, 134);
    font: normal 15pt Arial;
}

.area {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    text-align: center;
}

header {
    background: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: arial;
    padding: 10px;
}

#botao{
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 10px;
}

#pesokg, #alturam{
    margin: 10px;
    text-align: center;
}

#res{
    padding: 10px;
}